@using Movie.BO.Web.MVC.Models.Movie
@model MovieDTO
@{
    ViewData["Title"] = "AddMovie";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
            <form asp-action="AddMovie" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoomId"></label>
                    <input asp-for="RoomId" class="form-control" value = "@ViewData["RoomId"]" readonly/>
                    <span asp-validation-for="RoomId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gener"></label>
                    <input asp-for="Gener" class="form-control" />
                    <span asp-validation-for="Gener" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Director"></label>
                    <input asp-for="Director" class="form-control" />
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IMDBReiting"></label>
                    <input asp-for="IMDBReiting" class="form-control" type="number"/>
                    <span asp-validation-for="IMDBReiting" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BannerUrl"></label>
                    <input asp-for="BannerUrl" class="form-control"/>
                    <span asp-validation-for="BannerUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add Movie</button>
                </div>
            </form>
    </div>
</div>
